/* ****************************************   GENERAL    *********************/
:root{
  --lightblue:#0061ff;
  --lightgrey:#b4d0e7;
  --grey:#e5e5e6;
  --white:white;
  --lightgreen:#a2d39b;
  --lightbrown:#61082b;
  --morelightblue:#0093ce;
  --lightred:#ff1c1c;
  --red:#d5001f;
  --blue:#0d2481;
  --yellow:#ffd830;
  --black:#000000;
  --ligthviolet:#62092B;

}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.6rem;
}

ul{
  list-style: none;
}

/* *****************************************  UTILITY ***********************/

.flex{
  display: flex;
}

.justify-between{
  justify-content: space-between;
}

.justify-around{
  justify-content: space-around;
}

.justify-center{
  justify-content: center;
}

.text-center{
  text-align: center;
}

.align-center{
  align-items: center;
}

.align-start{
  align-items: start;
}

.flex-column{
  flex-direction: column;
}

.flex-shrink{
  flex-shrink: 0;
}

.btn{
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  background-color: var(--lightblue);
  color: var(--white);
}

.container-big{
  max-width: 1200px;
  margin: 0 auto;
}

.container-small{
  max-width: 1000px;
  margin: 0 auto;
}

/* *****************************************  HEADER *********************** */

header{
  background-color: var(--white);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  height: 80px;
  border: 1px solid var(--grey);
}

header nav{
  height: 100%;
}

header img{
  padding: 30px 20px;
}

header div{
  text-align: center;
  height: 100%;
}

header a{
padding: 30px 20px;
text-decoration: none;
color: black;
}

header .btn{
margin-right: 20px;
}

header li{
  display: inline-block;
}


header li:hover{
  padding: 26px 0;
  border-top: 3px solid var(--white);
  border-bottom: 3px solid var(--lightblue);
}




/* ******************************************  MAIN *********************** */

main{
  padding-top: 80px;
}

/************************************** jumbo-box */

.jumbo-box{
  position: relative;
  background-color: var(--lightgrey);
}

.jumbo-box a{
  text-decoration: none;
  color: black;
}

h1{
  font-size: 5rem;
  padding:50px 0;

}

#small-box{

  align-items: start;
  padding-bottom:65px ;
}

#small-box a{
  margin: 30px 0;
}

#small-box  p{
  max-width: 350px;
}

.jumbo{
  position: absolute;
  max-width: 750px;
  bottom: -70px;
  left: 38%;
}

.jumbo-box .fa-arrow-down{

  font-size: 3rem;
  padding-bottom: 10px;
}

/*************************** subscription */

.plan{
  margin-top: 150px;
}

#subscription{
  margin-bottom: 150px;
}

.plan h2{
  margin-bottom: 40px;
}

.plan span{
  display: inline-block;
  padding-right: 50px;
}

.row{
  margin-top: 30px;
  flex-wrap: wrap;
}

.card{
  margin-right: 40px;
  border: 1px solid var(--grey);
}

.intro-plan{
  border-bottom: 1px solid var(--grey);
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.col{
  width: calc(100% / 3);
  margin-bottom: 40px;
}

span.border{
  display: inline-block;
  border-bottom: 1px solid var(--grey);
}

.card ul span{
  padding-left:5px;
}

.card-text{
  padding: 30px 20px 30px 20px;
}

.card-text h3{
  padding-bottom:  20px;
}

.card-text .time{
  display: block;
  padding-top: 30px;
  padding-bottom: 50px;
}

.card-text li{
  padding-bottom: 20px;
}

.card-text .btn{
  margin-top: 30px;
  margin-bottom: 30px;
}

.card-text .border{
  padding-right: 5px;
  display: inline-block;
  padding-bottom: 30px;
  padding-bottom: 30px; 
  border-bottom: 1px solid var(--grey);
  margin-bottom: 40px;
}

.card-text h4{
  padding-bottom: 30px;
}

.card-text .fa-check{
  color: var(--lightblue);
}

.card .width-big{
  width: 70%;
}

.card .width-big p{
  padding-top: 50px;
  width:100%;
}

.card .width-small{
  padding-left: 30px;
  width: 30%;
}


/************************ PARTNER */

#partner{
margin-bottom: 150px;
}

#partner img{
  width: 100%;
}

.partner-img{
  max-width: 65%;
}

.partner-text{
  padding-top: 60px;
  margin-left: 40px;
  max-width: 35%;
}

#partner h3{
  margin-bottom: 20px;
  line-height: 1.5;
}

#partner .btn{
  margin-top: 20px;
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--black);
}

/* ****************************** BUSINESS */


#business h3{
  padding: 10px 0 30px 0;
}

.business-card{
  margin-right: 40px;
}

/* ******************************** EXTRA */

#extra-b{
  margin-top: 150px;
  margin-bottom: 100px;
}

#extra-b h2{
  margin-bottom: 50px;
}

/* ******************************* DESIGNIT */

#all-designit{
 width: 100%;
 height: 100%;
}

#all-designit .box-left,
#all-designit .box-center,
#all-designit .box-right
{
  width: calc(100% / 3);
  height: 100%;
  min-width: 220px;
}

#all-designit .the-box{
  aspect-ratio: 1 / 1;
  width: 50%;
  height: 50%;
  
}

#all-designit .box-center{
  aspect-ratio: 1 / 1;
  background-color: var(--grey);
  overflow-y:auto;
}

#all-designit img{
  width: 50%;
  height: auto;
}

#all-designit .box-center{
  padding: 60px 50px;
}

#all-designit .box-center p{
  padding: 40px 0;
}

#all-designit .box-center hr{
  width: 100px;
  margin-top: 40px;
}

#all-designit .the-box img{
  filter: invert(1);
}

.bg-designit{
  background-color: var(--lightgreen);
}

.the-box.active{
  box-shadow:0px 0px 0px 20px rgba(255, 255, 255, 0.5) inset;
}

.bg-arizona{
  background-color: var(--lightbrown);
}

.bg-florida{
  background-color: var(--morelightblue);
}

.bg-topps{
  background-color: var(--lightred);
}

.bg-world{
  background-color: var(--red);
}

.bg-hearst{
  background-color: var(--lightgrey);
}

.bg-lonely{
  background-color: var(--blue);
}

.bg-clear{
  background-color: var(--yellow);
}

/* ********************************** FREE TEST */

#free-test{
  background-color: var(--lightgrey);
  padding: 100px 0;
  margin-bottom: 150px;
}

#free-test h2{
  color: var(--ligthviolet);
}

#free-test .btn{
  color: var(--black);
  background-color: var(--white);
  padding: 10px 40px;
}

/* ************************************* REQUESTS */

#start-request{
  margin-bottom: 150px;
}

#start-request h2{
  margin-bottom: 50px;
}

#start-request div{
  margin-bottom: 30px;
  margin-top: 30px;
}


/* ************************************************************* FOOTER *********************************/

footer{
  background-color: var(--black);
  padding-top: 50px;
  padding-bottom: 30px;
}

footer h4{
  color: var(--white);
  padding-bottom:20px;
  font-size: 1.4rem;
}

footer .divider{
  width: calc(100% / 5);
  padding-bottom: 50px;
}

footer a{
  color: var(--white);
  text-decoration: none;
}

footer li{
  padding-bottom: 10px;
}

footer i,
footer span
{
color: var(--white);
}

footer .language{
  display: inline-block;
  padding-top:30px ;
  border-top: 1px solid var(--white);
}